
@import url('https://fonts.googleapis.com/css2? family= Merriweather:ital,wght@1,300 & family= Montserrat:wght@300 & display=swap');

:root {
    font-family: 'Merriweather', 'NanumGothic',sans-serif;
    font-size: 10px;
    --gap: 10px;
    --primary-color:#0bbd46;
    --secondary-color: #81C784;
    --vv-gray:#f4f4f4;
    --d-gray:#333333;
    --vv-green: #E8F5E9;
    --v-green: #C8E6C9;
    --V-green: #81C784;
    --VV-green: #4CAF50;
}
/* Default Setting */

h1,h4 {
    font-family: sans-serif;
}

h4 {
    margin: 5px auto 5px;
}

ul{
    list-style:none;
    margin: unset;
    padding:unset;
}

p,a{
    text-decoration:unset;
    color: var(--d-gray);
}

.primary-colored{
    color:var(--primary-color);
}

.secondary-colored{
    color:var(--primary-color);
}

/* Layouts */



body{
    font-size: 1.6rem;
    color: var(--d-gray);
}

/* Menu Components */

.siteName {
    box-shadow: inset 0 0 20px yellow;
    min-width: 100px;
}

header.topbar {
    width:1200;
    display:flex;
    justify-content:space-between;
    //box-shadow: inset 0 0 20px red;
    margin : 0 auto 44px;
    position: sticky;
    top: 0px;
}
.topnav{
    font-size: 1.5rem;
    //box-shadow: inset 0 0 20px yellow;
    align-items:flex-start;
}

.topnav ul{
    //box-shadow: inset 0 0 20px yellow;
    display:flex;
    justify-content:flex-end;
    /* 계승 */
    text-align: center;
}

.topnav li
 { 
    height: 20px;
    width: 80px;
    display: block;
    line-height: 20px;
    //box-shadow: inset 0 0 20px green;
}



.topnav li a:hover
 {
    color: var(--vv-gray);
}

.sidemenu {
    background-color:var(--V-green);
    float: left;
    width: 80px;
}

.sidenav li a{ 
    padding-left: 10px;
    border-bottom: dashed;
    border-width: 2px;
    border-color: #E0E0E0; 
}

.sidenav li:last-child a {
    border-bottom: 0;
}
main {
    background-color: var(--v-green);
    flex-grow: 1;
    min-width: 0;
    overflow: hidden
}

.text-box {
    padding-left: 10px;
}



.project-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: fl-around;
    padding: 10px;
}

.project-list ul li {
    background-color: var(--vv-green);
    width: 25%;
    height: 10%;
    float:left;
}
.project-list li img {
    background-color: white;
    width: 100%;
    height: 10%;
    object-fit: cover;
    opacity: 0.7;
}
.project-list li img:hover {
    opacity: 1;
}


/* Components */

.title {
    text-align: center;
    font-style: bold;
    font-family: 'Montserrat', sans-serif;
    box-shadow: inset 0 0 20px blue;
}


.bg-img {
    background-color: var(--vv-green);
    height: 400px;
    flex-grow: 1;
    background-image: url("../images/main_image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 98%;
}







